* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  font-family: "Arial", sans-serif;
}

.background-image {
  background-image: url("caipi-background.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* assez grand, mais extensible si contenu plus long */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* titre en haut */
  overflow-y: auto; /* permet de scroller */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main-image {
  display: flex;
  flex-direction: column;
  gap: 10px; /* petit espace entre les deux images */
  margin-bottom: 20px;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}

.question {
  font-size: 2rem;
}
